@model R59_Exam_06_Evidence.ViewModels.ProductInputModel
@using (Ajax.BeginForm("Create", "Products",new AjaxOptions { HttpMethod="post", InsertionMode= InsertionMode.Replace, UpdateTargetId= "formDiv", OnSuccess="onSuccess" }, new { enctype = "multipart/form-data" }))
{
    <h2>Create new product</h2>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.ProductName, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.MfgDate, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.MfgDate, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(x => x.MfgDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Picture, new { @class = "form-control", type = "file" })
            @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">

        <div class="col-4 offset-2">
            <div class="form-check">

                @Html.CheckBoxFor(x => x.InStock, new { @class = "form-check-input" })
                <label class="form-check-label">
                    In Stock
                </label>
            </div>
        </div>
    </div>
    <div class="col-6 mb-1" style="display:flex;">

        <h4>Sales</h4>
        <span style="flex: 1 1 auto"></span>
        <button formnovalidate class="btn btn-secondary btn-sm" type="submit" name="operation" value="add">Add</button>

    </div>
    <div class="col-6 mb-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Seller</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Sales.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.TextBoxFor(x => Model.Sales[i].Date, new { @class = "form-control", type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(x => Model.Sales[i].Date, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.DropDownListFor(x => Model.Sales[i].SellerId, new SelectList(ViewBag.Sellers, "SellerId", "SellerName"), "Select one", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => Model.Sales[i].SellerId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => Model.Sales[i].Quantity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => Model.Sales[i].Quantity, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <button formnovalidate class="btn btn-danger btn-sm" type="submit" name="operation" value="del_@i">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group row mb-1 text-end">

        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-primary" name="operation" value="insert">Save</button>
        </div>
    </div>
}
