@model IEnumerable<R59_Exam_06_Evidence.Models.Product>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Product name</th>
            <th>Price</th>
            <th>Mfg. date</th>
            <th>In Stock?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    <img src="~/Pictures/@p.Picture" class="img-circle" style="width:40px" />
                </td>
                <td>@p.ProductName</td>
                <td>@p.Price.ToString("0.00")</td>
                <td>@p.MfgDate.ToString("yyyy-MM-dd")</td>
                <td>@(p.InStock.Value ? "Yes" : "No")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Products", new { id = p.ProductId }, new { @class = "btn btn-primary btn-sm" })
                    <button type="button" class="btn btn-danger btn-sm del" data-pk="@p.ProductId">Delete</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">
                    <h4>Sales</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in p.Sales)
                            {
                                <tr>
                                    <td>@s.Date.ToString("yyyy-MM-dd")</td>
                                    <td>@s.Seller.SellerName</td>
                                    <td>@s.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>